[submodule "accounts"]
	path = accounts
	url = https://github.com/800grad/accounts.git
[submodule "config"]
	path = config
	url = https://github.com/800grad/config.git
[submodule "data"]
	path = data
	url = https://github.com/800grad/data.git
[submodule "pages"]
	path = pages
	url = https://github.com/800grad/pages.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/800grad/plugins.git
[submodule "themes"]
	path = themes
	url = https://github.com/800grad/themes.git
